@import 'base/include-media';

@import 'base/reset';
@import 'base/variables';
@import 'base/fonts';
@import 'base/typography';

.black {
   color: $black;
}

.middle-black {
   color: $middle-black;
}

.light-grey {
   color: $light-grey;
}

a {
   color: $bright-brown2;
}

.container {
   width: 100%;
   max-width: 1000px;
   padding: 0 10px;
   margin: 0 auto;
}

.icon {
	display: inline-block;
}

svg {
   width: 100%;
   height: 100%;
}

.header {
   background: linear-gradient(to bottom, #383b46, #292b32);
   padding: 20px 0;
   @media screen and (max-width: 480px) {
      padding: 15px 0;
   }
   .content {
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      @media screen and (max-width: 480px) {
         padding: 0;
      }
   }
   .logo-block {
      p {
         color: $hard-grey;
         font-size: 12px;
         line-height: 14px;
         @media screen and (max-width: 480px) {
            font-size: 11px;
         }
      }
      .logo {
         display: inline-flex;
      }
   }
   .search-block {
      display: flex;
      height: 35px;
      margin-left: 15px;
      @media screen and (max-width: 480px) {
         margin-left: 10px;
      }
      .search-input {
         width: 100%;
         max-width: 196px;
         min-width: 150px;
         background-color: $light-black;
         padding: 0 10px;
         border: 1px solid $brown;
         border-radius: 4px;
         box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.25);
         font-size: 14px;
         line-height: 1;
         @media screen and (max-width: 480px) {
            font-size: 12px;
         }
         &::placeholder {
            color: $medium-grey;
         }
      }
      .search-btn {
         display: flex;
         align-items: center;
         background-color: $bright-brown;
         opacity: 1;
         border-radius: 4px;
         padding: 0 10px;
         margin-left: 10px;
         transition: all 0.2s ease-in;
         &:hover {
            opacity: 0.8;
         }
         .search {
            width: 13px;
            height: 13px;
            fill: $white;
         }
      }
   }
}

.main {
   .container {
      @media screen and (max-width: 1000px) {
         padding: 0;
      }
   }
}

.top-block {
   overflow: hidden;
}
.slick {
   .slick-slide {
      min-height: 240px;
      padding: 40px 40px 15px;
      background-image: url(../images/bg-01.png);
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: cover;
      @media screen and (max-width: 600px) {
         padding: 20px;
      }
      @media screen and (max-width: 375px) {
         padding: 20px 10px 10px;
      }
      .slick-content {
         max-width: 490px;
      }
      h2 {
         &::first-letter {
            color: $bright-brown;
         }
      }
      h3 {
         &.middle-black {
            padding-bottom: 15px;
            @media screen and (max-width: 375px) {
               padding-bottom: 10px;
            }
         }
      }
      p {
         font-size: 14px;
         line-height: 18px;
         color: $light-grey2;
      }
   }
}

.main {
   background-color: $light-grey3;
}

.nav-block {
   .content {
      background-color: $bright-brown2;
      padding: 10px 0;
      display: flex;
      justify-content: flex-end;
   }
   .nav {
      @media screen and (max-width: 768px) {
         display: none;
      }
      .list {
         display: flex;
         justify-content: flex-end;
      }
      .list-item {
         margin: 0 25px;
      }
      .list-link {
         font-size: 16px;
         font-weight: 700;
         text-decoration: none;
         color: $white;
      }
   }
   .burger-menu {
      width: 30px;
      height: 30px;
      background-color: #fff;
      display: none;
      @media screen and (max-width: 768px) {
         display: block;
      }
   }
   .checked-content {
      padding: 8px 25px;
      background-color: $light-grey4;
      @media screen and (max-width: 768px) {
         display: none;
      }
      .list {
         display: flex;
         .list-item {
            margin-right: 8px;
            &:last-child {
               .list-link {
                  color: $medium-grey2;
                  text-decoration: none;
               }
            }
            &::after {
               content: '/';
               display: inline-block;
               margin-left: 4px;
               font-size: 11px;
               color: $medium-grey2;
            }
            &:last-child {
               &::after {
                  display: none;
               }   
            }
            .list-link {
               font-size: 11px;
               color: $bright-brown2;
               text-decoration: underline;
            }
         }
      }
   }
}

.main-part {
   .content {
      background-color: $white;
      padding: 25px;
      display: flex;
      align-items: start;
      @media screen and (max-width: 480px) {
         flex-direction: column-reverse;
         padding: 20px;
      }
      @media screen and (max-width: 375px) {
         padding-right: 10px;
         padding-left: 10px;
      }
   }
   .sidebar {
      max-width: 215px;
      min-width: 215px;
      flex-basis: 215px;
      padding: 20px 10px;
      border: 1px solid #ccc ;
      background-color: $light-grey4;
      @media screen and (max-width: 480px) {
         max-width: 100%;
         width: 100%;
      }
      h4 {
         color: $middle-black;
         margin-bottom: 20px;
      }

      input {
         display: none;
         &::placeholder {
            color: $medium-grey4;
         }
      }
      
      // позиционирование относительно .select
      #text, #text2 {
         position: absolute;
         top: 0;
         left: 0;
         padding-left: 10px;
         display: block;
         width: 100%;
         
      }
      
      .select {
         position: relative;
         width: 100%;
         background-color: rgb(241, 241, 241);
         height: 35px;
         line-height: 30px;
         display: inline-block;
         &::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 15px;
            right: 10px;
            border: 6px solid transparent;
            border-top: 6px solid $medium-grey4;
            transition: all 0.2s ease-in;
            // z-index: 2;
         }
      
         /* Если ничего не выбрано, то наш изначальный текст черного цвета, как и должно быть */
         input[name="list"]:not(:checked),
         input[name="brand-list"]:not(:checked) {
            & ~ #text, & ~ #text2 {
               color: rgb(121, 121, 121);
               min-height: 31px;
               background-color: $light-grey5;
            }
         }
      
         /* Если же что-то выбрано, то наш текст становится невидимым и встает сверху выбранного параметра, чтобы при клике на него можно было заново открыть селект */
         input[name="list"]:checked,
         input[name="brand-list"]:checked {
            & ~ #text, & ~ #text2 {
               background-color: transparent;
               color: transparent;
               z-index: 2;
            }
         }
      
         /* Стилизация выключенного селекта */
         #select, #select2 {
      
            /* Если наш селект закрыт, то он имеет высоту 30px(сделано для того, чтобы слишком большие надписи не растягивали его в высоту) */
            &:not(:checked) {
               & ~ .items {
                  min-height: 35px;
               }
            }
            &:checked {
               & ~ .items {
                  z-index: 3;
                  padding-top: 31px;
               }
      
               /* Если наш селект открыт, то надо сделать все опции видимыми */
               & ~ .items {
                  label {
                     display: block;
                     min-height: 31px;
                  }
               }
      
               & ~ .bg {
                  position: fixed;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-color: transparent;
                  z-index: 2;
               }
            }
         }
      
         /* Стилизация блока с опциями. min-height сделана для фикса высоты при абсолютном позиционировании, overflow же сделан для фиксированной высоты */
         .items {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border: 2px solid $medium-grey5;
            cursor: pointer;
            min-height: 35px;
            font-size: 14px;
            color: $medium-grey4;
            border-radius: 3px;
            
            /* Все лейбелы(названия опций) изначально скрыты */
            label {
               display: none;
               padding-left: 10px;
               min-height: 31px;
               background-color: $white;
               border-top: 2px solid $medium-grey5;
               &:hover {
                  background-color: $light-grey3;
                  cursor: pointer;
               }
            }
      
            /* Если какая-либо опция была выбрана, то сделать ее видимой(при выборе селект автоматически закроется) */
            input {
               &:checked {
                  & + label {
                     // display: block!important;
                     display: block;
                     border: none;
                     background-color: #fff;
                  }
               }
            }

            #text, #text2 {
               box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
            }
         }
      
      }

      .form-group {
         margin-bottom: 12px;
         &:last-child {
            margin-bottom: 0;
         }
         .form-control {
            display: block;
            background-color: $light-grey5;
            width: 100%;
            padding: 0 10px;
            border: 2px solid $white;
            border-radius: 5px;
            box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
            height: 35px;
         }
      }

      .contacts {
         max-width: 185px;
         @media screen and (max-width: 480px) {
            max-width: 100%;
         }
      }
   }
   .main-block {
      padding-left: 30px;
      @media screen and (max-width: 600px) {
         padding-left: 15px;
      }
      @media screen and (max-width: 480px) {
         padding-left: 0;
      }
      h3 {
         padding-bottom: 10px;
         &::first-letter {
            color: $bright-brown;
         }
      }
      p {
         line-height: 1.4;
      }
   }
   .column-block {
      padding-top: 20px;
      padding-bottom: 20px;
   }
   .column-container {
      display: flex;
      margin: 0 -10px;
      @media screen and (max-width: 480px) {
         justify-content: space-between;
      }
      .column {
         padding: 0 10px;
         flex-basis: 216px;
         // min-width: 216px;
         flex-shrink: 1;
         .column-image {
            position: relative;
            padding-bottom: 100%;
            border: 1px solid $white;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
            img {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               display: block;
               object-fit: cover;
               height: 100%;
            }
         }
      }
      h4 {
         padding-bottom: 15px;
         @media screen and (max-width: 768px) {
            font-size: 14px;
         }
      }
   }
}