$base-font-family-sans-serif: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

//link's color
$white:#fff;
$light-grey:#a5adb8;
$light-grey2: #d9dcdf;
$main-grey: #eee;
$hard-grey: #656f7a;
$medium-grey: #5b636e;
$brown: #875f66;
$bright-brown: #ae4b5d;
$light-black: #24272d;
$middle-black: #282d33;
$black: #000;

//headings
$h1-font-size:36px;
$h2-font-size:30px;
$h3-font-size:24px;
$h4-font-size:18px;

//text
$p-font-size:16px;